.nav-link {
    cursor: url(http://www.rw-designer.com/icon-image/3718-32x32x32.png), pointer;
}

.left_col {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    padding-top: 70px;
}

.right_col {
    display: flex;
    position: fixed;
    top: 9%;
    left: 25%;
}

#navbar-container {
    position: absolute;
    z-index: 5;
}

.active {
    background-color: sandybrown;
}

.toggle_league {
    width: 80%;
}

.caret {
    float: right;
}