/*.nav-link {
    cursor: url(http://www.rw-designer.com/icon-image/3718-32x32x32.png), pointer;
}*/

.left_col {
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 0;
    display: flex;
}

.scroll_table {
    display: flex;
    width: 90%;
}


.right_col {
    display: flex;
    position: relative;
    padding: 0px ;
    margin-top: 10px;
    /*top: 9%;
    left: 25%;*/
}

#navbar-container {
    position: relative;
    z-index: 5;
}

.active {
    background-color: sandybrown;
}

.toggle_league {
    width: 80%;
}

.caret {
    float: right;
}

@media only screen and (max-width: 900px) {
    .scroll_table {
    }
    .hide_small {
        display: none;
    }
}
@media only screen and (max-width: 1700px) {
    .hide_small2 {
        display: none;
    }
}

