.home_button {
    float: left;
}

.dp {
    float: right;
}

.profile_card {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.card-header{
    color: black;
}




@media only screen and (max-width: 1500px) {
    .profile_card {
        width: 50%
    }
}
@media only screen and (max-width: 1000px) {
    .profile_card {
        width: 80%
    }
}


.club-follow-card{
    margin-top: 20px;
    margin-left: 10px;
}

.user-follow-card{
    margin-top: 20px;
    margin-right: 10px;
}