.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


.team-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    max-width: 400px;

}

.club-logo-container{
    display: flex;
    justify-content: center;
}

.club-logo{
    height: 120px;
    width: auto;
}

.team-card-name{
    padding-top: 0;
    padding-bottom: 0;
    font-size: large;
}

.team-card-header{
    height: 100px;
}

.team-table{
    font-size: 12.5px;
}

.table td, .table th{
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    border-top:0px;
}

h5{
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-size: 1.25vw;
    color: black;
}

.team-div:hover{
    cursor: pointer;
}