.card {
    position: relative;
    display: flex;
    flex-direction: column;
    color:white;
    font-weight: bold;
    font-size: 20px;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1rem;
}


.team-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    max-width: 400px;

}

.club-logo-container{
    display: flex;
    justify-content: center;
}

.club-logo{
    height: 120px;
    width: auto;
    border: 2px black;
    border-radius: 5px;
}

.team-card-name{
    padding-top: 0;
    padding-bottom: 0;
    color: black;
    font-size: large;
}

.team-card-header{
    height: 100px;
}

.team-table{
    font-size: 11.5px;
}

.table td, .table th{
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    border-top:0px;
}

.roster-names{
    font-weight: normal;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.card-article-text{
    color: black;
    font-size: 15px;
    font-weight: bold;
}

h5{
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-size: 1.25vw;
    color: black;
}

.team-div:hover{
    cursor: pointer;
}