@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#signout_button {
    background-color: #EF3B3A;
    size: 30px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: "Helvetica Neue";
}

#profile_button {
}

.navbar-container-collapseable{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    background: #c40000;
    margin-right: 8px;
    opacity: 1.2;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    text-align: center;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
}

.nav-link.fa{
    background: transparent;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    width: 70px;
    margin-top: 19px;
    margin-right: 20px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0.25rem;
}

.fa.fa-bars{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.buttons {
    float: right;
}

#search {
    width: 100%;
    position: relative;
}

.nav-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#searchTerm {
    float: left;
    width: 70%;
    border: 3px solid #EF3B3A;
    padding: 10px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

#searchTerm:focus{
    color: #EF3B3A;
    font-weight: bold;
}

.searchButton {
    position: relative;
    width: 40px;
    height: 36px;
    border: 1px solid #EF3B3A;
    background: #EF3B3A;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

#wrap{
    width: 30%;
    top: 25px;
    left: 90px;
    position: relative;
    transform: translate(-50%, -50%);
}

#navbar-container {
    position:relative;
    padding-left: 0px;
    padding-right: 0px;
}