.socc-background{
    //background-color: whitesmoke;
    height: inherit;
    background-image: url("https://wallpapercave.com/wp/wp1830648.jpg");
}

html, body {
    margin: 0;
    height: 100%;
    align-items: center;
}

#root{
    height: inherit;
}

@media (max-width: 1300px) {
    .grid-container {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 1600px) {
    .grid-container {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 700px) {
    .grid-container {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 10px;
    }
}

.news-image {
    max-height: 5%;
}

.Soccer {
    text-align: center;
}

h5 {
    font-family: 'OCR A Std', monospace;
    color: brown;
}

.App {
    text-align: center;
}


