.socc-background{
    height: inherit;
    width: inherit;
    background: url("https://wallpapercave.com/wp/wp1830648.jpg") repeat;
    bottom:0;
}

/*https://wallpapercave.com/wp/wp1830648.jpg*/

.socc-height-inherit{
    height: inherit;
    width: inherit;
    bottom: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 100%;
    bottom:0;
    overflow-x: hidden;
    align-items: center;
}

body::-webkit-scrollbar{
    width: 0;
    height: 0;
}

body{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

#root{
    height: inherit;
    width: inherit;
}

@media (max-width: 1300px) {
    .grid-container {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 2400px) {
    .grid-container {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 700px) {
    .grid-container {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 10px;
    }
}

.news-image {
    max-height: 5%;
}

.Soccer {
    text-align: center;
}

h5 {
    font-family: 'OCR A Std', monospace;
    color: brown;
}

.App {
    text-align: center;
}

#navbar-container {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel{
    width:100%;
    height:auto;
    padding-right: 0px;
    margin-right: 0px;
}

.img-text-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.socc-card-header{
    width:100%;
    text-align:center
}

.socc-card-img {
    padding: 0.05rem;
    background-color: #000000;
    border: 1px solid rgba(230, 2, 0, 0.02);
    border-radius: 0.30rem;
    max-height: 350px;
    width: auto;
    height: auto;
}

.socc-link:hover{
    cursor: pointer;
}

/*.socc-car-item-div{
    height: 100px;
    width: 400px;
}*/

