@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

.callout.secondary {
    background: #222;
    color: white;
    display: flex;
    flex-direction: column;
}

.comment-header {
    text-align: left;
    margin-top: 10px;
    margin-left:20px;
}

.comment-form{
    display: flex;
    flex-direction: column;
}

.form-text{
    margin-left: 20px;
    margin-right: 20px;
}

.form-btn-container{
    text-align: left;
}

.form-btn{
    width: 20%;
    margin: 10px;
    margin-left: 20px;
}



.comment-list {
    display: block;
    list-style: none;
    margin: 0 0 0px 0;
}

.comment-list li {
    margin: 0 0 0 0;
    background: #333;
    padding: 10px;
}

.comment-user {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-bottom: 10px;
}
.comment-user-avatar-wrap {
    width: 40px;
    margin-right: 10px;
}
.comment-username {
    margin-right: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.75vw;
}

.comment-text-display{
    font-size: 1.75vw;
}

.on {
    margin-right: 5px;
    color: white;
}

ul.comment-list{
    padding-inline-start: 0px;
}


.comment-box{
    margin-bottom: 20px;
    text-align: left;
    max-height: 200px;
    overflow: scroll;
    overflow-y: scroll;
}

.card.comment-box{
    background: black;
    border: 0;

}

.comment-body-input{
    border: 1px black;
    border-radius: 5px;
    margin-top: 10px;
    margin-right:17px;
    margin-left:17px;
}

.add-comment-box{
    margin-top: 10px;
    text-align: left;
}

.comment-text-container{
    display: flex;
    flex-direction: row;
}

.comment-text {
    background: white;
    color: #222;
    padding: 1px;
    margin-right:10px;
    margin-left:10px;
    width: 100%;
    /*:last-child {*/
    /*margin: 0;*/
    /*}*/
}