.card-cont{
    width:100%;
    /*height:auto;*/
    margin-top: 20px;
    width: 100%;
    height: 500px;
    /*background:  
    url("https://www.xmple.com/wallpaper/highlight-black-red-gradient-linear-1920x1080-c2-000000-8b0000-l-67-a-345-f-21.svg");
    */
    background: #000;
    -webkit-background-size: contain;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 15px;
}

/*https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg*/



.carousel-indicators{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    top: 460px;
    background: black;
    border: 1px darkred;
    border-radius: 10px;
    z-index: 15;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none
}

.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active{
    background: transparent;
}

.socc-news-img{
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    position: relative;
    width: 94%;
    margin-left: 19px;
    height: 470px;
    margin-top: 10px;
    object-fit: contain;
}

.carousel-inner{
    bottom: 35px;
}

.carousel-caption{
    position: absolute;
    right: 15%;
    bottom: -4px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

.article-text{
    font-family: 'font-variant';
    font-synthesis: small-caps;
    font-size: 25px;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
}

.article-link:hover{
    cursor: pointer;
} 

.carousel-indicators li{
    background-color: red;
}

.nextprev {
    height: 20%;
    width: 30%;
}

@media screen and (max-width: 767px) {
    .card-cont{
        width:100%;
        /*height:auto;*/
        margin-top: 20px;
        width: 53%;
        margin-left: -14%;
        height: 500px;
        border: 1px solid #000;
        border-radius: 15px;
    }

    .socc-news-img{
        -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        position: relative;
        width: 94%;
        margin-left: 13px;
        height: 470px;
        margin-top: 10px;
        object-fit: contain;
    }
}