.card-cont{
    width:100%;
    /*height:auto;*/
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background:  url("https://www.xmple.com/wallpaper/highlight-black-red-gradient-linear-1920x1080-c2-000000-8b0000-l-67-a-345-f-21.svg");
    -webkit-background-size: contain;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 15px;
}

/*https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg*/



.carousel-indicators{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    top: 460px;
    background: black;
    border: 1px darkred;
    border-radius: 10px;
    z-index: 15;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none
}

.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active{
    background: transparent;
}

.socc-news-img{
    position: relative;
    width: 94%;
    margin-left: 19px;
    height: 470px;
    margin-top: 10px;
    object-fit: contain;
}

.carousel-inner{
    bottom: 35px;
}

.carousel-caption{
    position: absolute;
    right: 15%;
    bottom: -4px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

.article-text{
    font-family: "avenir next";
    font-synthesis: small-caps;
    font-size: 16px;
    justify-content: center;
    font-weight: bold;
    color: white;
    opacity: 0.9;
    background: black;
    border: 1px darkred;
    border-radius: 10px;
    text-transform: uppercase;
}

.article-link:hover{
    cursor: pointer;
}

.carousel-indicators li{
    background-color: red;
}

@media screen and (max-width: 767px) {
    .card-cont{
        width:100%;
        /*height:auto;*/
        margin-top: 20px;
        width: 53%;
        margin-left: -14%;
        height: 500px;
        border: 1px solid #000;
        border-radius: 15px;
    }

    .socc-news-img{
        position: relative;
        width: 94%;
        margin-left: 13px;
        height: 470px;
        margin-top: 10px;
        object-fit: contain;
    }
}